*{
    margin: 0%;
}
header{
    
    text-align: left;
    color: cornsilk;
    background-color: cornflowerblue;
    width: 100%;
    background-image: url(images/pattern.png);
}
span{
    color: cyan;
}